<!DOCTYPE html>
<html>

<head>
  <title>Smoothies | <%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <nav>
    <h1> Ninja Smoothies</h1>
    <a href="/login">Log In</a>
    <a href="/signUp">SIGN UP </a>
  </nav>
  <div>
    <img src="https://github.com/iamshaunjp/node-express-jwt-auth/blob/lesson-1/public/smoothie.png?raw=true"
      alt="image_smoothie" />
    <h1>Smoothie Recepies</h1>
    <h3> By Deepthi Bhogaraju</h3>
    <a href="/smoothies">View Recepies</a>
  </div>

</body>

</html>